<p id="notice">
    <%= notice %>
</p>
<div id="index" class="jumbotron container">
    <h1 id="indexTitle"> <%= image_tag  "RTlogo.png" %> Redtail Scheduler  </h1> 
    <hr>
    <div class="row" id="indexrow">
        <div class="col-md-4">
            <%=link_to 'New User?', new_user_path, {class:"btn btn-primary"} %>
                <br>
        </div>
        <div class="col-md-4">
            <%= link_to  "Sign in", login_path, {class: "btn btn-success"} %>
        </div>
    </div>
</div>