.title {
    margin: auto;
    width: 50%;
    font: Garamond
}
#indexrow {
    margin: auto;
    width: 30%;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 .slotbox {
     display: inline;
     margin-right: 5px;
     padding: 5px;
     background-color: #c9d5ec;
     box-shadow: 2px 2px 1px black;
     border-radius: 5px;
 }
 .remove {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
 }
 .remove:hover{
    color: red;
 }