<div class="container">
        <div class="jumbotron">
          <h3 id="title">Select Appointment Date/Time:</h3>
              <div class="row">
                  <input type="text" id="datep"/>
                   <div class="col-md-5" id="datepicker">
                  </div>
                  <div class="col-md-3" id="calInput">
                       <h4>Subject</h4>
                       <input id="subject">
                       </input>
                       <h4>Details</h4>
                      <textarea id="details"></textarea>
                  </div>
                  <div class="col-md-3" id="emailDiv">
                      <h4>Enter Email Address</h3>
                      <input id="email">
                      </input>
                      <button type="button" class="btn btn-primary" id="scheduleFun">
                      Send Invite & Schedule Date/Time
                      </button>
                 </div>
              </div>
        </div>
  </div>